.wrapper {
    padding: 5px;
    width: 95%;
    margin: 20px auto;
}

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 25px 0;
}

.column {
    flex: 1;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.column:first-child {
    margin-left: 0;
}

.column:last-child {
    margin-right: 0;
}

footer {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
}


@media screen and (max-width: 980px) {
    .columns .column {
        margin-bottom: 5px;
        flex-basis: 40%;
    }

    .columns .column:nth-last-child(2) {
        margin-right: 0;
    }

    .columns .column:last-child {
        flex-basis: 100%;
        margin: 0;
    }
}
@media screen and (max-width: 720px) {
    .columns .column {
        flex-basis: 100%;
        margin: 0 0 15px 0;
    }
}