

.main .layouttitle .body {
    background: white;
    border-radius: 5px;
    padding:  20px;
    overflow: auto;
}
.main .layouttitle::-webkit-scrollbar {
    display: none;
}
.main .layouttitle .body h3{
    padding:20px 0;
}
.main .layouttitle .body table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border:none;
}
.main .layouttitle .body table td,
.main .layouttitle .body table th

{
    padding:15px
}
.main .layouttitle .body table form {
    display: inline;
}
.main .layouttitle .body table form button {
    color: red;
}


.main .layouttitle .body table  button{
    background-color: white;
    border: none;
    font-size: 17px;
}
.main .layouttitle .body .option{
    width: 100px;
}
.main .layouttitle .body table  button a{
    color:blue;
}
