.title{
    padding-left: 50px;
}

.cart{
    overflow: auto;
}
.cart table {
    border-collapse: collapse;
    border: none;
    margin: auto;
    margin-top: 50px;
}

.cart table th {
    padding: 20px 75px;
    color: gray;
}

.cart table td {
    padding: 25px 20px;
    text-align: center;
}

.cart table tbody td:nth-child(1) {
    width: 1px;
}

.cart table tbody .capacity_color {
    padding-top: 5px;
    font-size: 13px;
    color: gray;
}

.cart table tbody .removeitem {
    font-size: 25px;
    text-decoration: none;
    color: red;
}

.cart table tbody .quantity {
    border-bottom: 1px solid gray;
    padding-bottom: 7px;
    width: max-content;
    margin: auto;
}

.cart table tbody .quantity input {
    padding: 0 20px;
    text-align: center;
    width: 75px;
    border: none;
    font-size: 17px;
    outline: none;
}

.cart table tbody .quantity span {
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    padding: 5px;

}

.cart table tfoot tr td .total {
    text-align: right;
    padding-bottom: 20px;
}

.cart table tfoot tr td .update_cart button {
    float: right;

}

.cart table tfoot tr td .update_cart button {
    outline: none;
    padding: 8px 25px;
    outline: none;
    background-color: #5d5dff;
    color: white;
    border: none;
    border-radius: 2px
}

/* .cart tfoot tr td .update_cart form {
    display: inline;
    float: left;
}

.cart tfoot tr td .update_cart form input {
    padding:0 10px;
    height: 31px;
    width: 275px;
    outline: none;
    border: 1px solid rgb(169, 169, 169);

}

*/
.cart table tfoot tr td .update_cart .submit {
    margin: 0 10px
} 

.cart table tfoot tr td .update_cart button a {
    text-decoration: none;
    color: white;
}