.order_status_page,
.order_history_page  {
    margin: 0 50px;
}

.order_status hr,
.order_history hr {
    background-color: black;
    width: 125px;
    border-top: 2px solid black;
}

.order_status .item ,
.order_history .item {
    margin: 50px 0 ;
}
.order_status .item > p,
.order_history .item > p{
    padding-bottom: 10px;
}

.order_status table ,
.order_history table {
    text-align: center;
    border-collapse: collapse;
    border: none;
    width: 75%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

}



.order_history table th,
.order_history table td,
.order_status table th,
.order_status table td
 {
    padding: 15px;
}

.order_history table tbody .information_product p:last-child ,
.order_status table tbody .information_product p:last-child {
    font-size: 13px;
}


.order_history table tfoot .total ,
.order_status table tfoot .total {
    padding-right:50px;
    text-align: right;
}

.order_history table tfoot .total p:nth-child(3) ,
.order_status table tfoot .total p:last-child {
    font-size: 21px;
    color: red;

}

.order_status table tfoot .total>* ,
.order_history table tfoot .total>* {
    margin: 5px 0;
}

.order_status table tfoot .total a ,
.order_history table tfoot .total a {
    display: block;
    float: right;
    padding: 7px 20px;
    color: white;
    background: #5d5dff;
    border-radius: 2px;
    text-decoration: none;
}

.order_status table tbody tr:first-child td:first-child ,
.order_history table tbody tr:first-child td:first-child {
    width: 1px;
}

.order_status table tbody tr:first-child td:nth-child(2) ,
.order_history table tbody tr:first-child td:nth-child(2) {
    width: 200px;
}