.check_your_order .status_order,
.check_your_order .order_history {
    margin: 0 50px;
}

.check_your_order .status_order hr,
.check_your_order .order_history hr {
    background-color: black;
    width: 125px;
    border-top: 2px solid black;
}

.check_your_order .item {
    margin-bottom: 50px;
}

.check_your_order table {
    text-align: center;
    border-collapse: collapse;
    border: none;
    width: 75%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

}


.check_your_order table th,
.check_your_order table td {
    padding: 15px;
}
.check_your_order table tbody .information_product p:last-child {
    font-size:13px;
}


.check_your_order table tfoot .total {
    text-align: right;
}
.check_your_order table tfoot .total p:nth-child(1){
    font-size:21px;
    color:red;
    
}

.check_your_order table tfoot .total > *{
    margin: 5px 0;
}

.check_your_order table tfoot .total a {
    display: block;
    float: right;
    padding: 10px 20px;
    color: white;
    background: #5d5dff;
    border-radius: 2px;
    text-decoration:none;
}

.check_your_order table tbody tr:first-child td:first-child {
    width: 1px;
}

.check_your_order table tbody tr:first-child td:nth-child(2) {
    width: 200px;
}