.title {
    padding-left: 50px;
}

.contact {
    width: 80%;
    display: flex;
    margin: 75px auto;
}

.contact .information_company,
.contact .form_send {
    padding: 0 50px;
}

.contact .information_company div div {
    padding: 15px 0;
    border-bottom: 1px solid gainsboro;
}

.contact .information_company div div p {
    margin-bottom: 10px;
}

.contact .information_company div div p:last-child {
    font-size: 13px;
}

.contact .information_company div div p i {
    padding-right: 5px;
}

.contact .information_company div div:last-child {
    border-bottom: none;
}

.contact .information_company .title_contact1,
.contact .form_send .title_contact2 {
    padding-bottom: 5px;
    font-size: 22px;
    border-bottom: 1px solid gainsboro;
}

.contact .information_company div:first-child {
    width: 250px;
    height: 100%;
}

.contact .form_send {
    width: 100%;
}

.contact .form_send form {
    margin-top: 15px;
}

.contact .form_send form div {
    margin-bottom: 15px;
}

.contact .form_send form div textarea {
    outline: none;
    width: 100%;
    border: 1px solid #d6d6d6;
    padding: 10px;
}

.contact .form_send form div input {
    padding: 0 10px;
    width: 100%;
    height: 35px;
    outline: none;
    border: 1px solid #d6d6d6;
}

.contact .form_send form button {
    padding: 7px 20px;
    border: none;
    border-radius: 2px;
    background-color: #5d5dff;
    color: white;
    outline:none;
}

iframe {
    width: 80%;
    border: 0;
    display: flex;
    margin: auto;
}

@media (max-width:900px) {
    .contact ,
    iframe {
        width: 90%;
    }

    .contact .information_company,
    .contact .form_send {
        padding: 0 15px;
    }
}
@media (max-width:600px) {
    .contact {
        flex-direction: column-reverse;
    }
    .contact .information_company{
        margin-top:50px;
    }
}