body{
    padding: 0;
    margin-top: -15px;
}
.home_page .fa-solid{
    font-weight: 750;
    font-size: 13px;
}


.home_page .header {
    margin-top: -15px;
}

.home_page .header .content a:first-child,
.home_page .product_new .content a:first-child {
    padding: 7px 14px;
    background-color: #5d5dff;
    color: white;
    border-radius: 999px;
    margin-right: 10px;
}

.home_page .header div .content div {
    margin-top: 15px;
}

.home_page .header .flex1,
.home_page .header .flex2,
.home_page .header .flex3 {
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    overflow: hidden;
    height: 650px;
    text-align: center;
}

.home_page .header .flex1 {
    flex-direction: column;
    justify-content: space-between;
}

.home_page .header .flex1 .content {
    margin-top: 155px;
}

.home_page .header .flex1 .image img,
.home_page .header .flex2 .image img {
    width: 100%;
    max-width: 750px;
}


.home_page .header .flex2 {
    justify-content: space-evenly;
}

.home_page .header .flex2 .image {
    margin-top: 125px;
}

.home_page .header .flex3 {
    position: relative;
    flex-direction: column;
}

.home_page .header .flex3 .content {
    top: 115px;
    position: absolute;

}

.home_page .header .flex3 .image,
.home_page .header .flex3 .image img {
    height: 100%;
}

.home_page .product_new {
    text-align: center;
    width: 80%;
    margin: 150px auto 0;
}

.home_page .product_new h1 {
    font-weight: 750;
}

.home_page .product_new .content {
    margin-top: 15px;
}

.home_page .product_new img {
    margin-top: 50px;
    width: 100%;
    max-width: 1000px;
}


.home_page .best_sellers,
.home_page .all_category {
    width: 80%;
    margin: 250px auto 0
}

.home_page .best_sellers .title,
.home_page .all_category .title {
    margin-bottom: 50px;
    text-align: center;
}

.home_page .best_sellers .title h1,
.home_page .all_category .title h1 {
    font-weight: 750;
}

.home_page .best_sellers .product {
    display: flex;
    flex-wrap: wrap;
}

.home_page .best_sellers .product .item {
    padding-bottom: 15px;
    display: flex;
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
    width: 33.33333%;
}

.home_page .best_sellers .product .item .image {
    max-width: 50%;
}

.home_page .best_sellers .product .item .image a {
    float: right;
    position: relative;
    width: 100px;
    display: block;
    height: 100px;
    background-color: #fafafa;
}

.home_page .best_sellers .product .item .image a img {
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.home_page .best_sellers .product .item .information_product {
    padding-left: 25px;
    width: 50%;
}

.home_page .best_sellers .product .item .information_product .name {
    font-size: 17px;
}

.home_page .best_sellers .product .item .information_product .price {
    font-size: 15px;
    color: red;
}

.home_page .all_category .tab {
    display: flex;
}

.home_page .all_category .tab p.active {
    background-color: #ebebeb;
}

.home_page .all_category .tab p {
    margin: 0 5px;
    font-size: 16px;
    padding: 10px 20px;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}

.home_page .all_category .tab p:hover {
    background-color: #ddd;
}

.home_page .all_category .tabcontent {
    /* display: none; */
    margin-top: 50px;
    padding: 0 100px;
}
.home_page .all_category .tabcontent .slick-arrow{
    background-color:#dee2e6;
    top:17%;
    width: 35px;
    height: 35px;
    border-radius: 50%
}
.home_page .all_category .tabcontent .slick-next{
    right: 0;
}
.home_page .all_category .tabcontent .slick-prev{
    left: 0;
}

.home_page .all_category .tabcontent .item {
    text-align: center;
}

.home_page .all_category .tabcontent .item .name {
    font-size: 17px;
}

.home_page .all_category .tabcontent .item .price {
    font-size: 14px;
}

.home_page .all_category .tabcontent .item .buy a {
    display: inherit;
}

.home_page .all_category .tabcontent .item .buy a i{
    font-weight: 750;
    font-size: 12px;
}

.home_page .all_category .tabcontent .item .buy a:first-child {
    display: inline-block;
    padding: 4px 10px;
    background: #5d5dff;
    color: white;
    border-radius: 999px;
    margin-top: 25px;
    font-size: 12px;
    text-decoration: none;
}

.home_page .all_category .tabcontent .item .buy a:last-child {
    font-size: 14px;
    margin-top: 7px;
}

.home_page .all_category .tabcontent .item .color {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.home_page .all_category .tabcontent .item .color p {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 2px;
}

.home_page .all_category .tabcontent .item a img {
    width: 100%;
    margin: auto;
}

.home_page .all_category .tabcontent hr {
    width: 80%;
    margin: 50px auto;
}


.home_page .rate {
    height: 30px;
}

.home_page .rate:not(:checked)>label {
    width: 15.5px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 20px;
    color: #ccc;
}

.home_page .rate:not(:checked)>label:before {
    content: '★';
}

.home_page .rate>input:checked~label {
    color: #ffc700;
}

.home_page .rate input {
    display: none;
}

@media (max-width:1051px) {
    .home_page .header .flex1 .content {
        margin-top: 200px;
    }

    .home_page .header .flex2 {
        flex-direction: column;
        justify-content: center;
    }

    .home_page .all_category .tabcontent {

        padding: 0 50px;
    }

}

@media (max-width:905px) {
    .home_page .best_sellers .product .item {
        width: 50%;
    }
}

@media (max-width:610px) {
    .home_page .best_sellers .product .item {
        width: 100%;
    }

    .home_page .all_category .tab p {
        padding: 6px 10px;
        font-size: 13px;
    }

    .home_page .product_new,
    .home_page .best_sellers,
    .home_page .all_category {
        margin: 75px auto 0;

    }

}