.title {
    padding-left: 50px;
}


.myaccount .hr_title {
    margin-top: 5px;
    max-width: 65px;
    border: 1px solid;
}

.myaccount {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.myaccount form {
    padding: 15px;
    width: 100%;
    max-width: 500px;
}

.myaccount form label {
    font-size: 15px;
}

.myaccount form .sign_in ,
.myaccount form .sign_up {
    border-radius: 3px;
    border: none;
    background-color: #5d5dff;
    margin-top: 20px;
    width: 90px;
    color: white;
    outline: none;
    height: 40px;
}
.myaccount #form_sign_in {
    max-width: 350px;
}
.myaccount #form_sign_in .email_sign_in,
.myaccount #form_sign_in .password_sign_in,
.myaccount #form_sign_up span
{
    color: red;
    display: none;
    font-size: 13px;

}
.myaccount #form_sign_in .sign_in_google{
    border: none;   
    outline: none;
    display: flex;
    align-items: center;
    padding: 2px;
    border-radius: 2px;
    background-color: #5d5dff;
    width: 70%;
    margin: 10px auto 0 auto;
    cursor: pointer;
}
.myaccount #form_sign_in .sign_in_google img{
    width: 40px;
    background-color: white;
}
.myaccount #form_sign_in .sign_in_google span{
    margin: auto;
    color: white;
}
.myaccount form .sign_in {
    width: 100%;
}

.myaccount div {
    color: rgb(169, 169, 169);
    margin-top: 20px;
}

.myaccount div input {
    font-size: 17px;
    padding: 0 10px;
    width: 100%;
    height: 40px;
    outline: none;
    border-radius: 2px;
    border: 1px solid rgb(205, 205, 205);
}

.myaccount .chooise_option_login {
    width: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    margin-top: 15px;
}

.myaccount .chooise_option_login hr {
    border: 1px solid;
    height: 0px;
    background-color: black;
    width: 100%;
    margin-bottom: 0;
}

.myaccount .chooise_option_login span {
    padding: 0 7px;
}

.recoverpass {
    margin-top: 20px;
    display: block;
}

.form_recover_password {
    z-index: 999;
    padding: 20px;
    opacity: 0;
    top: -17%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f3f3f3;
    position: fixed;
    width: 325px;
    height: 200px;
    transition: opacity .5s;
    border-radius: 5px;
}

.form_recover_password {
    margin-top: 10px;
}

.form_recover_password .btn_close {
    user-select: none;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
}



.form_recover_password form input {
    padding: 0 10px;
    border: 1px solid rgb(205, 205, 205);
    outline: none;
    height: 30px;
    display: block;
    width: 100%;
}

.form_recover_password form button {
    border: none;
    background-color: #5d5dff;
    color: white;
    padding: 7px 14px;
    margin-top: 15px;
    float: right;
    border-radius: 3px;
    outline: none;
}

.form_recover_password form p {
    margin-top: 15px;
    color: red;
    font-size: 14px;
}

@media (max-width : 650px) {
    .myaccount {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .myaccount #form_sign_in{
        max-width: 500px;
    }
    .myaccount #form_sign_up{
        margin-top: 75px;
    }
}