.title {
    padding-left: 50px;
}


hr {
    margin-top: 5px;
    max-width: 65px;
    border: 1px solid;
}

.myaccount {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.myaccount form {
    padding: 15px;
    width: 100%;
    max-width: 500px;
}

.myaccount form label {
    font-size: 15px;
}

.myaccount form button {
    border-radius: 3px;
    border: none;
    background-color: #5d5dff;
    margin-top: 20px;
    width: 90px;
    height: 35px;
    color: white;
}

.myaccount div {
    color: rgb(169, 169, 169);
    margin-top: 20px;
}

.myaccount div input {
    font-size: 17px;
    padding: 0 10px;
    width: 100%;
    height: 45px;
    outline: none;
    border-radius: 2px;
    border: 1px solid rgb(205, 205, 205);
}

.recoverpass {
    margin-top: 20px;
    display: block;
    color: black;
    text-decoration: none;
}

.form_recover_password {
    z-index: 999;
    padding: 20px;
    opacity: 0;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f3f3f3;
    position: fixed;
    width: 325px;
    height: 200px;
    transition: opacity .5s;
    border-radius: 5px;
}

.form_recover_password {
    margin-top: 10px;
}

.form_recover_password .btn_close {
    user-select: none;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
}



.form_recover_password form input {
    padding: 0 10px;
    border: 1px solid rgb(205, 205, 205);
    outline: none;
    height: 30px;
    display: block;
    width: 100%;
}

.form_recover_password form button {
    border: none;
    background-color: #5d5dff;
    color: white;
    padding: 7px 14px;
    margin-top: 15px;
    float: right;
    border-radius: 3px;
}

.form_recover_password form p {
    margin-top: 15px;
    color: red;
    font-size: 14px;
}

@media (max-width : 551px) {
    .myaccount {
        display: flex;
        flex-direction: column;
    }
}