.profile{
    display: flex;
    width: 90%;
    margin: auto;
}

.profile .informationuser {
    width: 40%;

}
.profile .informationuser .informationuser_header_right{
    text-align: center;
    margin-top: 25px;
}
.profile .informationuser .header_informationuser_left{
    max-width: 400px;
    margin: auto;
    position: relative;
}
.profile .informationuser .imguser {
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
}

.profile .informationuser .imguser img {
    height: 100%;
    display: block;
    width: 100%;
    margin:auto
}

.profile .informationuser .header_informationuser_left form {
    position: absolute;
    right: 0;
    bottom: 5px;
}

.profile .informationuser div p {
    font-size: 14px;
    padding: 5px 0;
}



.profile .informationuser div h1 {
    margin-bottom: 15px;
}
.profile .flex {
    width: 60%;
    padding:50px 0 0 50px;

}
.profile .flex .profile_user,
.profile .flex .update,
.profile .flex .sign_out_account{
    margin-top: 25px;
}
.profile section p {
    padding: 10px 0 20px 0;
    font-size: 14px;
}

.profile section form label {
    font-size: 13px;
    color: rgb(169, 169, 169);

}

.profile section form input {
    font-size: 17px;
    margin: 5px 0 20px;
    width: 100%;
    max-width: 650px;
    height: 40px;
    padding: 0 10px;
    outline: none;
    border-radius: 2px;
    border: 1px solid rgb(205, 205, 205);


}
.profile .flex .information,
.profile .flex .updatepassword ,
.profile .flex  .sign_out {
    padding:10px 20px;
    border: none;
    background: #5d5dff;
    color: white;
    border-radius: 3px;
    outline: none;
}
.profile .flex .order_status
{
    margin-right:10px;
}
.profile .flex .order_status ,
.profile .flex .order_history 
{
    background-color: #5d5dff;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 2px;
    font-size:13px;
}

.profile .flex .sign_out {
    background: red;
}
/* .profile section form .deleteaccount {
    color: white;
    height: 35px;
    width: 135px;
    background: red;
    border: none;
    border-radius: 3px;
} */


.profile section form #passworderror,
.profile section form #passwordincorrect {
    display: none;
    padding: 0;
    margin: -15px 0 10px 5px;
    color: red;
}

.image-input {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.image-input input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.image-input i {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #fff;
    font-size: 20px;
}

@media (max-width : 750px) {
    .profile{
        flex-direction: column;
    }
    .profile .informationuser{
        width: 100%;
    }
    .profile .flex{
        width:100%;
        padding:0;
    }
}